div.changepass {
	position: relative;
	float: right;
	width: 200px;
	height: 230px;
	border-right: 0px;
	border-bottom: 1px;
	border-left: 1px;
	border-top: 0px;
	border-radius: 0px;
	border-style: solid;
	border-color: dimgrey;
}
div.basket_big {
	position: relative;
	float: right;
	width: 818px;
	height: 500px;
	border-right: 0px;
	border-bottom: 0px;
	border-left: 0px;
	border-top: 0px;
	border-radius: 0px;
	border-style: solid;
	border-color: dimgrey;
}