* {
    -webkit-appearance: none;
	-webkit-user-select: none;
	outline: none;
}
body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100vh;
	font-size: 16px;
	background-color: #fff;
	overflow-x: hidden;
	overflow-y: auto;
}
body.login_bg {
	padding: 0;
	margin: 0;
	background-color: #f7f6f4;
	overflow-x: hidden;
	overflow-y: auto;
	background-blend-mode:screen;
}
div.header {
	position: fixed;
	top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
	height: 90px;
	background: #191919;
    opacity: 0.98;
	z-index: 99;
	-webkit-transition: 0.3s;
	-moz-transition:  0.3s;
	-ms-transition:  0.3s;
	-o-transition:  0.3s;
	transition:  0.3s;
}
div.content {
	position: relative;
    float: left;
	height: 100%;
	width: 100%;
	min-width: 600px;
	margin-left: 0px;
	margin-right: auto;
	margin-top: 80px;
	margin-bottom: 45px;
	background-color: rgba(250, 250, 250, 0);
	z-index: 0;
}
div.footer {
	text-align: center;
	position: fixed;
	bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
	height: 35px;
	background-color: #232323;
	z-index: 1;
}

/* Content */

#header_content {
	position: relative;
    top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
#login_form {
	padding: 25px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 250px;
	background-color: rgba(250, 250, 250, 0.94);
	border-top: 1px;
	border-bottom: 1px;
	border-left: 1px;
	border-right: 1px;
	border-radius: 10px;
	border-style: solid;
	border-color: #aaa;
	width: 400px;
	height: 250px;
	text-align: center;
	box-shadow: 5px 5px 15px #292929;
}
#register_form {
	position: relative;
    overflow-x: scroll;
	overflow-y: visible;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	border: none;
	text-align: center;
}
#user-panel {
    display: none;
}
#user-panel-logged {
	display: none;
}
#user-login-mobile {
    position: relative;
    top: 110px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 650px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #bbb;
    background-color: #fff;
}

/* Classes */

.side-login-form {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 45px;
    margin-top: 40px;
    width: 445px;
    text-align: center;
}
.mid_centered {
	text-align: center;
	vertical-align: middle;
}
.line {
	border-color: #505050;
	color: #505050;
	width: 90%;
    border-style: inset;
    border-width: 0.3px;
}
.comment_separ {
	margin-top: 10px;
	border-color: #505050;
	border-style: solid;
	background-color: #505050;
	color: #505050;
	border-width: 0.5px;
	width: 90%;
	z-index: 4;
}
/* Content IDs */

#site-content {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}
#mobile-menu-slider {
    position: fixed;
    left: 100%;
    width: 100%;
    height: 100%;
    background: #292929;
    z-index: 98;
    transition: 0.3s;
}
.u_post {
	background-color: transparent;
	position: relative;
	top: 0px;
	margin-left: auto;
	margin-right: auto;
	top: -30px;
    margin-top: 60px;
	width: 600px;
	height: auto;
    background: #fff;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
	z-index: 2;
}
#u_post_owner {
	background-color: transparent;
	position: relative;
    top: 5px;
	margin-bottom: 0px;
	width: 100%;
	height: 40px;
	z-index: 2;
}
#u_content {
	position: relative;
	width: 100%;
	height: 600px;
	justify-content: center;
	display: block;
	margin-top: 0px;
    margin-bottom: 10px;
	z-index: 2;
}
.comment-like {
    position: relative;
    background: #fff;
    height: 60px;
    top: 10px;
    width: 600px;
}
#u_comments {
	background-color: transparent;
	position: relative;
	width: 600px;
	height: auto;
	margin-top: 10px;
	z-index: 2;
}
#u_posted_comment {
	background-color: transparent;
	position: relative;
    margin-top: 5px;
	width: 95%;
	padding-left: 0px;
	height: auto;
	z-index: 3;
}
#user-panel-mobile {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 180px;
    width: 95%;
    height: 78%;
	min-height: 670px;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
}

.ajax-load{
	background: #e1e1e1;
	padding: 10px 0px;
	width: 100%;
}
div.more {
	display: block;
	position: relative;
	width: 100%;
	height: 100px;
	text-align: center;
}
#likes-counter {
	position: relative;
	width: 250px;
	height: 35px;
	margin-left: 10px;
	top: 10px;
}
p.like-count {
	float: left;
	width: 70%;
	margin-top: 1px;
	margin-left: 0px;
	line-height:10px;
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
}
#sml-like-icon {
	margin-top:-6px;
	margin-right:7px;
	font-size: 19px;
	float: left;
}
div.register-mobile-bg {
	position: relative;
	top: 110px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: auto;
	border-style: solid;
	border-radius: 10px;
	border-width: 1px;
	border-color: #bbb;
	background-color: #fff;
	text-align: center;
	overflow-y: scroll;
	overflow-x: hidden;
}
div.img-manager {
	position: relative;
	float: left;
	padding: 10px;
	width: 280px;
	height: 280px;
}
div.img-manager img.photo-thumbs {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 280px;
	height: 280px;
}
div.img-del-over {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 280px;
	height: 280px;
	background-color: darkred;
	opacity: 0;
	text-align: center;
	cursor: pointer;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
div.img-del-over:active {
	opacity: 0.8;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
#previewVid{
	opacity: 1;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 500px;
	top: -30px;
	margin-bottom: -20px;
	background-color: #fff;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	transition: opacity 0.2s;
}
#previewVidCnt {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 600px;
}
.vidprevabs {
	position: absolute;
	height: 500px;
	width: 500px;
	top: 0px;
	left: 0px;
	border-style: none;
}
