.u_new_comment {
	color: #232323;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
	margin-top: 0px;
	margin-left: 0px;
    padding: 6px 10px;
    width: 510px;
	min-width: 500px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
}
.login {
	margin-top: 5px;
	margin-left: 0px;
	color: #232323;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    padding: 6px 10px;
    width: 170px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #292929;
    background-color: transparent;
}
.register_input {
	margin-top: 5px;
	margin-left: 0px;
	color: #232323;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    padding: 6px 10px;
    width: 320px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #292929;
    background-color: transparent;
}
.register_small_input {
	margin-top: 5px;
	margin-left: 0px;
	color: #232323;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    padding: 6px 10px;
    width: 160px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #292929;
    background-color: transparent;
}
#bigassbutton {
	opacity: 1;
    margin-top: 30px;
    width: 290px;
    height: 45px;
    border-radius: 10px;
    background-color: #0969c4;
    border-style: none;
    color: #ffffff;
   	font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}
#side-login-button {
	opacity: 1;
    margin-top: 15px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background-color: #0969c4;
    border-style: none;
    color: #ffffff;
   	font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}
#side-register-button {
    opacity: 1;
    margin-top: 10px;
    width: 170px;
    height: 45px;
    border-radius: 5px;
    background-color: #0969c4;
    border-style: none;
    color: #ffffff;
   	font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}